#flex-container {
  width: 100%;
  height: 100vh;
  border: solid;
  display: flex;
  flex-direction: row;
  /* for align-items */
  justify-content: space-between;

  
}


.flex-item {
  height: 50px;
  width: 50px;
  text-align: center;
}

#item-1 {
  background-color: red;
}

#item-2 {
  background-color: blue;
}

#item-3 {
  background-color: purple;
}

#item-4 {
  background-color: green;
}

#item-5 {
  background-color: yellow;
}

#item-6 {
  background-color: aqua;
}